import React from 'react'
import {connect} from 'react-redux'
import {Modal} from 'react-bootstrap'
import Loading from 'components/utils/Loading.jsx'
import Datatable from 'components/tables/Datatable.jsx'
import ClusterSelect from "app/pages/utils/ClusterSelect"
import WidgetGrid from 'components/layout/widgets/WidgetGrid.jsx'
import JarvisWidget from 'components/layout/widgets/JarvisWidget.jsx'
import utils from "app/utils"
import api from 'app/utils/api'
import Access, {hasAccess} from 'app/pages/user/Access'
// ------------ custom ------------
import <%=modelName%>EditModal from './<%=modelName%>EditModal.jsx'
import m from './<%=modelName%>.model.js'

export class <%=modelName%> extends React.Component {
    constructor(props){
        super(props);
        this.options = {unMount: false};
        this.state = {
            table_info: {
                cn_title: "<%=table.title%>",
                data_th: <%- JSON.stringify(table.th) %>,
            },
            data:[],
            table_data: [],
            loadingStatus: false,
            modalShow: false,
            modalTitle: '',
            modalFooterShow: true,
            modalConfirm: this.hideModal,
            modalCreateAppShow: false,
            editorMode: 0,
            editorData: null
        }

        this.showModal = this.showModal.bind(this)
        this.hideModal = this.hideModal.bind(this)
        this.create = this.create.bind(this)
        this.retrieveAll = this.retrieveAll.bind(this)
        this.update = this.update.bind(this)
        this.del = this.del.bind(this)
    }

    // ---------------actions------------
    hideModal(refresh) {
        this.setState({
            modalShow: false,
            editorMode: 0,
            editorData: null,
            modalCreateAppShow: false
        });
        if (refresh) {
            this.retrieveAll();
        }
    }

    showModal(data) {
        let st = {
            modalShow: true,
            modalCreateAppShow: true,
        }
        if(data) {
            st.editorMode = 1
            st.editorData = data
        }
        this.setState(st)
    }
    <% if (feature.isCluster) { %>
    onClusterChange (cluster) {
        this.setState({cluster: cluster}, () => {
            if(cluster) {
                this.retrieveAll()
            } else {
                this.setState({table_data: [], loadingStatus: false})
            }
        })
    }

    checkCluster(withMessage) {
        if (!this.state.cluster) {
            if(withMessage) {
                $.SmartMessageBox({
                    title: "请先选择集群信息。",
                    content: '',
                    buttons: '[确认]'
                });
            }
            return false
        }
        return true
    }
    <% } %>

    // ---------------crud------------
    create() {
        <%_ if (feature.isCluster) { _%>
        if(!this.checkCluster()) return
        <%_ } _%>

        this.showModal()
    }

    update(id) {
        <%_ if (feature.isCluster) { _%>
        if(!this.checkCluster()) return
        <%_ } _%>
        let one = this.state.data.filter((v) => v.Id == id)
        if(one.length == 0 ) {
            return
        }
        this.showModal(one[0])
    }

    del(id) {
        <%_ if (feature.isCluster) { _%>
        if(!this.checkCluster()) return
        <%_ } _%>
        return m.del(this.state.cluster, id)
            .then(this.retrieveAll)
    }

    retrieveAll () {
        <%_ if (feature.isCluster) { _%>
        if(!this.checkCluster(false)) return
        <%_ } _%>
        
        this.setState({table_data: [], loadingStatus: true});
        return m.getAll(<%_ if (feature.isCluster) { _%> this.state.cluster <%_ } _%>)
            .then((respData) => {
                // console.log(respData)
                <%_ if (feature.isCluster) { _%>
                let rtn = respData
                <%_ } else { _%>
                let rtn = respData
                <%_ } _%>
                if (rtn.status != 200) {
                    return Promise.reject(rtn.msg)
                }
                this.setState({
                    data: rtn.data || [],
                    table_data: rtn.data || [],
                    loadingStatus: false
                });
            })
            .catch(() => {
                this.setState({
                    loadingStatus: false
                });
            })
    }

    // ---------------lifecycle------------
    componentDidMount() {
        this.retrieveAll()
    }

    componentWillUnmount() {
    }

    componentWillReceiveProps(nextProps) {
    }

    <%_ if (feature.isCluster) { _%>
    renderCluster() {
        return (
            <section id="widget-grid">
                <div className="well clearfix">
                    <div className="col-sm-3 col-md-3">
                        <ClusterSelect className="form-control select  col" cluster_type="bigdata"
                                        onChange={(e) => {
                                            this.onClusterChange(e.target.value)
                                        }}/>
                    </div>
                </div>
            </section>
        )
    }
    <%_ } _%>

    renderTableHeader() {
        return (
            <header><span className="widget-icon"> <i className="fa fa-table"/> </span>
                <h2>{this.state.table_info.cn_title}</h2>
                <div className="widget-toolbar">
                        <a href-void
                            className="btn btn-danger btn-lg"
                            onClick={this.create} style={{fontSize: '12px'}}>
                            <i className="fa fa-plus"/>
                            <%=crud.create.button%>
                        </a>
                </div>
            </header>
        )
    }

    renderTableData() {
        let count = this.state.table_data.length
        let table_dataSet = [];
        if(count == 0) return null

        $.each(this.state.table_data, function (k, v) {

            let actions = ``;
            actions += `<a href="javascript:void(0)" class="btn btn-default ml_10 edit" data-name=${v.Id}><%=crud.update.button%></a>`
            actions += `<a href="javascript:void(0)" class="btn btn-danger ml_10 del" data-name=${v.Id}><%=crud.del.button%></a>`
            table_dataSet.push([
                <%_ table.fields.forEach(function(field){ _%> 
                <%_ if(field != '') {_%>
                v['<%=field%>'],
                <%_ } _%>
                <%_ }) _%>
                actions
            ])
        });

        return table_dataSet
    }

    renderTable(data) {
        if(!data) return null;
        return (
            <Datatable
                options={{
                    data: data,
                    columns: [
                        <%_ table.fields.forEach(function(field, index){ _%> 
                        {title: this.state.table_info.data_th[<%=index%>]},
                        <%_ }) _%>
                    ]
                }}
                paginationLength={true}
                className="table table-striped table-bordered table-hover"
                width="100%"
                funcs={
                    [
                        ["a.edit", this.update], 
                        ["a.del", this.del],                     
                    ]
                }>
            </Datatable>
        )
    }

    render() {
        let {hasAccess, user} = this.props
        let {modalBody, modalTitle, loadingStatus, modalShow} = this.state
        let content = this.renderTable(this.renderTableData())
        let header = this.renderTableHeader()
        <%_ if (feature.isCluster) { _%>
        let cluster = this.renderCluster()
        <%_ } _%>

        if (this.state.modalCreateAppShow) {
            modalBody = <<%=modelName%>EditModal
                mode={this.state.editorMode}
                data={this.state.editorData}
                cluster={this.state.cluster}
                close={this.hideModal}
            />;
        }

        return (
            <div id="content">
                <Loading show={loadingStatus}/>
                <%_ if (feature.isCluster) { _%>
                {cluster}
                <%_ } _%>
                <WidgetGrid>
                    <div className="row">
                        <article className="col-sm-12">
                            <JarvisWidget editbutton={false} fullscreenbutton={false} colorbutton={false}
                                        togglebutton={false}
                                        deletebutton={false}>
                                {header}
                                <div>
                                    <div className="widget-body no-padding">
                                        {content}
                                    </div>
                                </div>
                            </JarvisWidget>
                        </article>
                    </div>
                </WidgetGrid>
                <Modal show={modalShow}
                       key='1'>
                    <Modal.Header
                        closeButton={true}
                        aria-label={'Close'}
                        onHide={this.hideModal}>
                        <h4 className="modal-title">{modalTitle}</h4>
                    </Modal.Header>
                    <Modal.Body>
                        {modalBody}
                    </Modal.Body>
                </Modal>
            </div>
        )
    }
}

const mapStateToProps = (state) => {
    return {
        I18N: state.i18n.locale && state.i18n.translations && state.i18n.translations[state.i18n.locale] || {},
        user: state.login.user,
        hasAccess: (id) => hasAccess(state, id)
    }
}

const mapDispatchToProps = (dispatch) => {
    return {}
}

const Connected<%=modelName%> = connect(mapStateToProps, mapDispatchToProps)(<%=modelName%>)

export default Connected<%=modelName%>